.vscode
build
cmake-build-debug
cmake-build-release

# KiCad ignored files
KiCad/*/RP2040-Decoder-backups
KiCad/*/*.bak
KiCad/*/fp-info-cache
KiCad/*/_autosave-*
KiCad/*/*.kicad_prl

# CLion ignored files
# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml
