# IDE Configurations
.vscode
.idea

# Build folders
build
cmake-build-debug
cmake-build-release

# KiCad ignored files
KiCad/*/RP2040-Decoder-backups
KiCad/*/*.bak
KiCad/*/fp-info-cache
KiCad/*/_autosave-*
KiCad/*/*.kicad_prl